@use './colors';
@use './fonts';
@use './breakpoints';

$navigation-section-width: 25%;
$form-group-input-label-gap: 14rem;

@mixin navigation-item-current {
    background-color: colors.$doc123-primary-cl;
    color: white;

    & i {
        color: white;
    }
}

@mixin error-message {
    display: flex;
    column-gap: 5px;
    align-items: center;
    color: colors.$doc123-regular-error-cl;
    font-size: 1rem;
    margin-top: 3px;
    padding-left: 5px;

    & i {
        color: inherit;
        font-size: 0.9rem;
        color: colors.$doc123-regular-error-cl;
    }
}

@mixin card-editor-form-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 1rem;

    & label {
        width: $form-group-input-label-gap;
    }

    & .input-container {
        & input {
            font-size: 0.9rem;
            padding: 5px 10px;
        }
    }
}

#main-section {
    padding-top: 50px;
    background-color: colors.$doc123-regular-bg-cl;

    & .background-section {
        & .background-tab {
            background-image: url('../img/bg-tab.png');
            background-repeat: repeat-x;
            background-color: colors.$doc123-primary-cl;
            height: 96px;
            width: 100%;
        }

        & .user-info-and-docs-info {
            display: flex;
            justify-content: space-between;
            padding: 15px;
            background-color: white;

            & .user-info {
                display: flex;
                align-items: end;
                column-gap: 15px;

                & .user-avatar-wrapper {
                    border: 4px white solid;
                    width: fit-content;
                    margin-top: -4rem;
                    border-radius: 5px;
                    overflow: hidden;

                    & img {
                        height: 88px;
                        width: 88px;
                    }
                }

                & .displayed-name-of-user {
                    font-size: 1.7rem;
                }
            }

            & .docs-info {
                display: flex;
                align-items: center;

                & .divider {
                    margin: 0 20px;
                    height: 100%;
                    width: 1px;
                    background-color: lightgray;
                }

                & .views-count,
                .docs-count,
                .downloads-count {
                    text-transform: uppercase;
                    font-size: 0.7rem;
                    font-weight: 500;
                    color: gray;

                    & div {
                        margin: 0 auto;
                        margin-top: 2px;
                        width: fit-content;
                    }

                    & .count-value {
                        font-size: 0.9rem;
                        font-weight: bold;
                        color: black;
                    }
                }
            }
        }
    }

    & .navigation-and-profile {
        display: flex;
        column-gap: 10px;
        padding: 0 10px;
        width: 100%;

        & .navigation-section {
            width: $navigation-section-width;
            margin-top: 4rem;

            & .navigation-item {
                display: flex;
                align-items: center;
                column-gap: 10px;
                border-radius: 5px;
                padding: 0.75rem 0.625rem;
                border: 1px #e5e7eb solid;
                box-sizing: border-box;
                background-color: white;
                font-size: 1.1rem;
                color: gray;
                cursor: pointer;

                &:not(:nth-of-type(1)) {
                    margin-top: 10px;
                }

                &.current {
                    @include navigation-item-current;
                }

                &:hover {
                    @include navigation-item-current;
                }

                &:active {
                    border-color: colors.$doc123-primary-cl;
                    background-color: white;
                    color: colors.$doc123-primary-cl;

                    & i {
                        color: colors.$doc123-primary-cl;
                    }
                }

                & i {
                    font-size: 1.4rem;
                    color: gray;
                }
            }

            & .img-decoration {
                margin-top: 15px;
                height: 60px;
            }
        }

        & .profile-section {
            width: calc(100% - $navigation-section-width);

            & .profile-section-title {
                font-size: 1.5rem;
                font-weight: 500;
                margin: 18px 0;
                padding-left: 10px;
            }

            & .profile-box {
                padding: 15px;
                border-radius: 5px;
                background-color: white;

                & .divider {
                    width: 100%;
                    border: 1px #e5e7eb solid;
                    margin: 20px 0 10px;
                }

                & .profile-item {
                    & .noticing-text {
                        font-size: 0.8rem;
                        color: gray;
                        font-style: italic;
                    }

                    & .profile-item-title {
                        text-transform: uppercase;
                        font-size: 1.1rem;
                        font-weight: bold;
                    }

                    & .profile-item-title-container {
                        display: flex;
                        justify-content: space-between;

                        & button.profile-item-edit {
                            cursor: pointer;
                            background-color: white;

                            &:hover {
                                color: colors.$doc123-primary-cl;

                                & i {
                                    color: colors.$doc123-primary-cl;
                                }
                            }
                        }
                    }

                    & .profile-item-editor {
                        margin-top: 5px;

                        & .profile-item-value {
                            font-size: 1.1rem;

                            &.inactive {
                                display: none;
                            }

                            & .item-row {
                                margin-top: 10px;
                                font-size: 1rem;

                                & label {
                                    width: $form-group-input-label-gap;
                                }

                                & .value-unset {
                                    font-style: italic;
                                    color: gray;
                                }
                            }
                        }

                        & .card-editor {
                            margin-top: 5px;

                            &.inactive {
                                display: none;
                            }

                            & .card-editor-form-group {
                                @include card-editor-form-group;

                                & .input-container {
                                    & .input-wrapper {
                                        position: relative;

                                        & i {
                                            position: absolute;
                                            top: 50%;
                                            right: 10px;
                                            transform: translateY(-50%);
                                            color: gray;
                                        }
                                    }

                                    & input {
                                        font-size: 1rem;
                                        border: 1px lightgray solid;
                                        border-radius: 5px;
                                        padding: 5px 15px;
                                        min-width: 300px;

                                        &:focus,
                                        &:hover {
                                            outline: 1.5px colors.$doc123-primary-cl solid;
                                            border-color: colors.$doc123-primary-cl;
                                        }
                                    }

                                    & .message {
                                        @include error-message;
                                    }
                                }
                            }

                            & .actions {
                                display: flex;
                                column-gap: 10px;
                                margin-top: 10px;

                                & .action-save,
                                .action-cancel {
                                    display: flex;
                                    font-size: 1.1rem;
                                    padding: 5px 15px;
                                    border-radius: 5px;
                                    color: white;
                                    width: 65px;

                                    &.inactive {
                                        pointer-events: none;
                                        opacity: 0.5;
                                    }
                                }

                                & .action-save {
                                    background-color: colors.$doc123-primary-cl;
                                    border: 2px colors.$doc123-primary-cl solid;

                                    &:hover {
                                        background-color: white;
                                        color: colors.$doc123-primary-cl;
                                    }

                                    & .spinner-border {
                                        height: 1.5rem;
                                        width: 1.5rem;
                                        margin: auto;
                                    }
                                }

                                & .action-cancel {
                                    background-color: colors.$doc123-secondary-cl;
                                    border: 2px colors.$doc123-secondary-cl solid;

                                    &:hover {
                                        background-color: white;
                                        color: colors.$doc123-secondary-cl;
                                    }
                                }
                            }
                        }
                    }

                    &.displayed-name {
                        & .profile-item-editor {
                            & .card-editor {
                                & .card-editor-form-group {
                                    & input {
                                        font-size: 1.3rem;
                                    }
                                }
                            }
                        }
                    }

                    &.personal-info {
                        & .profile-item-editor {
                            & .card-editor {
                                & .card-editor-form-group {
                                    @include card-editor-form-group;

                                    &.gender {
                                        & .dropdown {
                                            & button {
                                                display: flex;
                                                column-gap: 5px;
                                                justify-content: space-between;
                                                padding: 5px 15px;
                                                border: 1px lightgray solid;
                                                background-color: white;
                                                border-radius: 5px;
                                                min-width: 100px;

                                                &:hover {
                                                    background-color: colors.$doc123-primary-cl;
                                                    color: white;
                                                    border-color: colors.$doc123-primary-cl;

                                                    & i {
                                                        color: white;
                                                    }
                                                }

                                                & i {
                                                    color: gray;
                                                }
                                            }

                                            & .message {
                                                @include error-message;
                                            }

                                            & .dropdown-menu {
                                                & li {
                                                    & .dropdown-item {
                                                        cursor: pointer;

                                                        &:hover,
                                                        &:active {
                                                            background-color: colors.$doc123-primary-cl;
                                                            color: white;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                & .actions {
                                    margin-left: 225px;
                                }
                            }
                        }
                    }

                    &.linked-account {
                        & .linked-accounts-list {
                            & .linked-account-item {
                                display: flex;
                                align-items: center;
                                column-gap: 15px;
                                margin-top: 15px;

                                &.inactive {
                                    display: none;
                                }

                                & .platform-icon {
                                    height: 2rem;
                                    width: 2rem;

                                    & img {
                                        height: 100%;
                                        width: 100%;
                                    }
                                }

                                & .account {
                                    border-radius: 5px;
                                    border: 1px colors.$doc123-primary-cl solid;
                                    padding: 5px 30px;
                                }

                                & .action-unlink-btn {
                                    border: 2px colors.$doc123-secondary-cl solid;
                                    border-radius: 5px;
                                    background-color: colors.$doc123-secondary-cl;
                                    color: white;
                                    padding: 5px 20px;

                                    &:hover {
                                        background-color: white;
                                        color: colors.$doc123-secondary-cl;
                                    }
                                }
                            }
                        }

                        & .linked-account-oauth {
                            & .oauth-title {
                                margin-top: 10px;
                                font-size: 1rem;
                            }

                            & .oauth-message {
                                margin-top: 5px;
                                font-size: 0.8rem;
                                color: gray;
                            }

                            & .oauth-options {
                                display: flex;
                                flex-wrap: wrap;
                                row-gap: 10px;
                                column-gap: 15px;
                                margin-top: 10px;

                                & .oauth-option {
                                    display: flex;
                                    column-gap: 7px;
                                    border: 1px #e5e7eb solid;
                                    padding: 6px 20px;
                                    border-radius: 5px;
                                    cursor: pointer;
                                    background-color: white;

                                    & strong {
                                        font-weight: normal;
                                    }

                                    &.inactive {
                                        display: none;
                                    }

                                    &:hover {
                                        background-color: #f5f5f5;
                                    }

                                    & img {
                                        height: 1.4rem;
                                        width: 1.4rem;
                                    }
                                }
                            }
                        }
                    }

                    &.password {
                        & .profile-item-editor {
                            margin-top: 5px;

                            & .card-editor {
                                & .card-editor-form-group {
                                    & .input-container {
                                        & .input-wrapper {
                                            & .password-action {
                                                position: absolute;
                                                right: 0px;
                                                top: 50%;
                                                transform: translateY(-50%);
                                                cursor: pointer;
                                                transition: transform 0.2s;

                                                &.inactive {
                                                    display: none;
                                                }

                                                & i {
                                                    color: #484848;
                                                    font-size: 1.2rem;
                                                }
                                            }
                                        }
                                    }
                                }

                                & .actions {
                                    margin-left: $form-group-input-label-gap;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
