@use './colors';
@use './fonts';
@use './breakpoints';

#main-section {
    background-color: colors.$doc123-regular-bg-cl;
    padding: 0 150px;
    padding-top: 65px;

    @media screen and (max-width: breakpoints.$doc123-medium-breakpoint-homepage) {
        padding-left: 50px;
        padding-right: 50px;
    }

    @media screen and (max-width: breakpoints.$doc123-small-breakpoint-homepage) {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 40px;
    }

    & .section-title {
        width: 100%;
        text-align: center;
        font-family: fonts.$doc123-primary-font;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;

        @media screen and (max-width: breakpoints.$doc123-small-breakpoint-homepage) {
            font-size: 20px;
        }
    }

    & .stand-out-posts-section {
        padding: 10px;
        padding-top: 30px;

        @media screen and (max-width: breakpoints.$doc123-small-breakpoint-homepage) {
            padding-left: 0;
            padding-right: 0;
        }

        & .stand-out-posts-grid-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px; /* Khoảng cách giữa các ô là 10px */
            padding: 0 10px;

            @media screen and (max-width: breakpoints.$doc123-large-breakpoint-homepage) {
                grid-template-columns: repeat(3, 1fr);
                padding: 0;
            }

            @media screen and (max-width: breakpoints.$doc123-big-breakpoint-homepage) {
                grid-template-columns: repeat(2, 1fr);
                padding: 0;
            }

            @media screen and (max-width: breakpoints.$doc123-small-breakpoint-homepage) {
                grid-template-columns: repeat(2, 1fr);
                padding: 0;
            }

            & .grid-item-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: white;
                padding: 20px;
                border-radius: 10px;
                transition: box-shadow 0.2s;

                &:hover {
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                }

                & .grid-item-cover {
                    display: flex;
                    column-gap: 5px;

                    & .cover-img-wrapper {
                        width: 144px;
                        aspect-ratio: 3/4;

                        @media screen and (max-width: breakpoints.$doc123-small-breakpoint-homepage) {
                            width: 80px;
                        }

                        & img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    & .icon-wrapper {
                        & i {
                            font-size: 1.2rem;

                            @media screen and (max-width: breakpoints.$doc123-small-breakpoint-homepage) {
                                font-size: 0.9rem;
                            }
                        }
                    }
                }

                & .grid-item-title {
                    font-size: 1rem;
                    font-family: fonts.$doc123-primary-font;
                    line-height: 1.5rem;
                    overflow-wrap: break-word;
                    width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    cursor: pointer;
                    font-weight: normal;
                    margin-top: 15px;
                    color: black;

                    @media screen and (max-width: breakpoints.$doc123-small-breakpoint-homepage) {
                        font-size: 0.8rem;
                        line-height: 1.3rem;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }

                & .grid-item-details {
                    display: flex;
                    align-items: center;
                    margin-top: 3px;
                    column-gap: 10px;
                    font-family: fonts.$doc123-primary-font;
                    font-size: 0.8rem;
                    margin-top: 10px;

                    & i {
                        font-size: 0.9rem;
                        color: gray;
                    }
                }
            }
        }
    }

    & .newest-posts-section {
        padding: 10px;
        padding-top: 30px;
        padding-bottom: 70px;

        & .newest-posts-lists {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
            grid-row-gap: 30px;
            margin-top: 20px;

            @media screen and (max-width: breakpoints.$doc123-large-breakpoint-homepage) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media screen and (max-width: breakpoints.$doc123-big-breakpoint-homepage) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (max-width: breakpoints.$doc123-small-breakpoint-homepage) {
                grid-template-columns: repeat(1, 1fr);
            }

            & .category-list-box {
                &.economy-category {
                    & .category-title {
                        background-color: colors.$doc123-primary-cl;
                    }
                }
                &.science-category {
                    & .category-title {
                        background-color: colors.$doc123-third-cl;
                    }
                }
                &.technical-category {
                    & .category-title {
                        background-color: colors.$doc123-secondary-cl;
                    }
                }
                &.enviroment-category {
                    & .category-title {
                        background-color: colors.$doc123-fourth-cl;
                    }
                }

                & .category-title {
                    color: white;
                    font-weight: bold;
                    padding: 15px 15px;
                    font-family: fonts.$doc123-primary-font;
                    font-size: 18px;
                    border-radius: 5px;

                    @media screen and (max-width: breakpoints.$doc123-small-breakpoint-homepage) {
                        font-size: 1rem;
                        padding: 10px;
                    }
                }

                & .list-card {
                    display: flex;
                    margin-top: 15px;
                    column-gap: 3px;

                    & .list-card-icon {
                        margin-top: 5px;
                    }

                    & .title-and-details {
                        & .list-card-title {
                            font-size: 1rem;
                            font-family: fonts.$doc123-primary-font;
                            line-height: 1.5rem;
                            overflow-wrap: break-word;
                            width: 100%;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            cursor: pointer;
                            font-weight: normal;

                            @media screen and (max-width: breakpoints.$doc123-small-breakpoint-homepage) {
                                font-size: 0.85rem;
                            }

                            &:hover {
                                color: colors.$doc123-primary-cl;
                            }
                        }

                        & .list-card-details {
                            display: flex;
                            align-items: center;
                            margin-top: 3px;
                            column-gap: 10px;
                            font-family: fonts.$doc123-primary-font;
                            font-size: 0.8rem;

                            & i {
                                font-size: 0.9rem;
                                color: gray;
                            }
                        }
                    }
                }

                & .category-list {
                    & .list-card {
                        display: flex;
                    }
                }
            }
        }
    }
}
