@use './colors';
@use './fonts';
@use './breakpoints';

body {
    margin: 0;
    padding: 0;
}

a,
p,
div,
main,
h1,
h2,
h3,
input,
textarea,
button {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

input {
    outline: none;
}

i.bi {
    color: rgb(19, 20, 23);
    font-size: 1rem;

    &.bi-file-word-fill {
        color: rgb(8, 110, 202);
    }
    &.bi-file-ppt-fill {
        color: rgb(182, 47, 20);
    }
    &.bi-filetype-pdf {
        color: rgb(226, 87, 76);
    }
}

.tooltip {
    & .tooltip-inner {
        @media screen and (max-width: breakpoints.$doc123-primary-breakpoint) {
            font-size: 0.8rem;
        }
    }
}
