@use './breakpoints';
@use './colors';
@use './fonts';

#main-section {
    background-color: colors.$doc123-regular-bg-cl;
    padding-top: 70px;

    & .title {
        font-size: 2rem;
        font-weight: normal;
        text-align: center;
        width: 100%;
        margin: 0;
    }

    & .subtitle {
        font-size: 1.3rem;
        font-weight: normal;
        text-align: center;
        width: 100%;
        margin: 0;
        margin-top: 10px;
    }

    & .upload-doc-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 50px;
        background-color: white;
        margin-top: 30px;

        & .upload-doc-title {
            font-size: 1.7rem;
            font-weight: 500;
            width: fit-content;
            margin: 0;
            margin-top: 10px;
        }

        & .upload-doc-btn {
            padding: 5px 80px;
            background-color: colors.$doc123-primary-cl;
            border-radius: 10px;
            color: white;
            font-weight: 500;
            cursor: pointer;
            border: 3px colors.$doc123-primary-cl solid;
            margin-top: 30px;
            font-size: 1.5rem;

            &:hover {
                background-color: white;
                color: colors.$doc123-primary-cl;
            }
        }

        & .helper-text-box {
            margin-top: 30px;

            &.inactive {
                display: none;
            }

            & p {
                text-align: center;
            }

            & .helper-text {
                font-size: 0.9rem;
            }

            & .helper-subtext {
                font-size: 0.8rem;
                margin-top: 3px;
            }
        }
    }

    & .files-uploaded-section {
        padding: 20px;

        & .file-uploaded-progress {
            display: none;
            justify-content: space-between;
            flex-direction: column;
            margin-top: 20px;
            background-color: colors.$doc123-light-primary-cl;
            list-style: none;
            padding: 15px;
            border-radius: 5px;
            box-sizing: border-box;

            &.on-progress {
                display: flex;
            }

            & .upload-progress-content {
                width: 100%;

                & .upload-progress-details {
                    display: flex;
                    align-items: center;
                    margin-bottom: 7px;
                    justify-content: space-between;

                    & i {
                        display: flex;
                        color: colors.$doc123-primary-cl;
                        font-size: 1.1rem;
                    }
                }

                & .upload-progress-bar {
                    height: 10px;
                    width: 100%;
                    margin-bottom: 4px;
                    background-color: white;
                    border-radius: 30px;
                    background-image: url('../img/bg-process-bar.png');
                    background-repeat: repeat-x;
                    background-size: contain;

                    & .upload-progress-animate {
                        height: 100%;
                        width: 0%;
                        background-color: colors.$doc123-primary-cl;
                        border-radius: inherit;
                    }
                }
            }
        }

        & .files-uploaded {
            padding: 0 50px;

            & .file-uploaded-box {
                display: flex;
                column-gap: 100px;

                & .doc-avatar-wrapper {
                    display: flex;
                    flex-direction: column;
                    width: 150px;
                    height: 180px;

                    & i {
                        font-size: 1.5rem;
                    }

                    & img {
                        width: 100%;
                        height: 100%;
                    }
                }

                & .doc-info-box {
                    width: 100%;
                }

                & .doc-info-form-group {
                    $input-width: 100%;
                    $input-min-width: 566px;

                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    width: 100%;
                    column-gap: 50px;
                    margin-top: 10px;

                    & label {
                        width: 150px;

                        & .required-dot {
                            color: red;
                            font-weight: bold;
                        }
                    }

                    & .input-wrapper {
                        display: flex;
                        justify-content: end;
                        width: $input-width;

                        & input {
                            width: $input-width;
                            min-width: $input-min-width;
                            padding: 3px 10px;
                            outline: none;
                            border: 1px lightgray solid;
                            border-radius: 5px;
                            padding: 5px 10px;
                        }
                    }

                    & .dropdown-btn {
                        display: flex;
                        justify-content: end;
                        width: 100%;

                        &:not(:nth-of-type(1)) {
                            margin-top: 5px;
                        }

                        & .form-select {
                            &:focus {
                                border-color: colors.$doc123-primary-cl;
                                box-shadow: 0 0 0 0.25rem colors.$doc123-primary-bshd-cl;
                            }
                        }
                    }

                    & .textarea-wrapper {
                        width: 100%;

                        & textarea {
                            width: 100%;
                            outline: none;
                            resize: vertical;
                            border: 1px lightgray solid;
                            border-radius: 5px;
                            padding: 5px 10px;
                        }
                    }

                    &.doc-price {
                        margin-top: 15px;

                        & .price-box {
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            column-gap: 20px;

                            & .price,
                            .preview {
                                width: 100%;
                            }

                            & h6 {
                                margin: 0;
                                margin-left: 5px;
                                margin-bottom: 5px;
                            }

                            & .form-select {
                                &:focus {
                                    border-color: colors.$doc123-primary-cl;
                                    box-shadow: 0 0 0 0.25rem colors.$doc123-primary-bshd-cl;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
