@use './breakpoints';
@use './colors';
@use './fonts';

$setting-up-container-width: 100%;
$doc-price-container-max-width: 323px;
$form-bg-cl: #f0f0f0;

@mixin attach-doc-upload-status-styling {
    display: flex;
    column-gap: 10px;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 5px;
}

@mixin input-styling {
    width: $setting-up-container-width;
    padding: 3px 10px;
    outline: none;
    border: 1px lightgray solid;
    border-radius: 5px;
    padding: 5px 10px;

    &:hover,
    &:focus {
        outline: 1.5px colors.$doc123-primary-cl solid;
    }
}

@mixin form-select-container-styling {
    width: 100%;

    & .form-select {
        cursor: pointer;

        &:hover {
            outline: 1.5px colors.$doc123-primary-cl solid;
        }

        &:focus {
            border-color: colors.$doc123-primary-cl;
            box-shadow: 0 0 0 0.25rem colors.$doc123-primary-bshd-cl;
        }
    }
}

@mixin textarea-styling {
    width: 100%;
    outline: none;
    resize: vertical;
    border: 1px lightgray solid;
    border-radius: 5px;
    padding: 5px 10px;

    &:hover,
    &:focus {
        outline: 1.5px colors.$doc123-primary-cl solid;
    }
}

@mixin doc-avatar-and-doc-info-styling {
    display: flex;
    column-gap: 100px;
    margin-top: 15px;

    & .doc-avatar-btn-wrapper {
        $doc-avatar-btn-linear-bg-cl: linear-gradient(
            to top left,
            colors.$doc123-primary-bshd-cl,
            colors.$doc123-primary-cl
        );
        $doc-avatar-btn-linear-bg-cl-reverse: linear-gradient(
            to bottom right,
            colors.$doc123-primary-bshd-cl,
            colors.$doc123-primary-cl
        );

        min-width: 150px;
        max-width: 150px;
        height: 180px;
        border: 2px transparent solid;
        position: relative;
        box-shadow: 0px 0px 3px gray;

        & label {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: bold;
            text-align: center;
            border: 2px $doc-avatar-btn-linear-bg-cl solid;
            box-sizing: border-box;
            background-color: transparent;
            height: 100%;
            width: 100%;
            cursor: pointer;
            border-radius: 5px;
            padding: 10px;
            background-image: $doc-avatar-btn-linear-bg-cl;

            & i {
                font-size: 2rem;
                color: white;
            }
        }

        & .doc-avatar-preview-image {
            height: 100%;
            width: 100%;
        }

        & .cancel-doc-avatar-btn {
            position: absolute;
            left: calc(100% + 10px);
            top: 0;

            & span {
                display: flex;

                &:hover {
                    transform: scale(1.2);
                    transition: transform 0.2s;
                }

                & i {
                    display: flex;
                    color: red;
                    font-size: 1.1rem;
                    cursor: pointer;
                }
            }
        }
    }

    & .doc-info-box {
        width: 100%;
    }

    & .doc-info-form-group {
        display: flex;
        justify-content: space-between;
        align-items: start;
        width: 100%;
        column-gap: 50px;
        margin-top: 20px;

        & .form-group-title {
            min-width: 105px;

            & .required-dot {
                color: red;
                font-weight: bold;
            }
        }

        & .setting-up-container {
            width: $setting-up-container-width;

            & .message {
                display: flex;
                align-items: baseline;
                column-gap: 5px;
                margin-left: 10px;
                color: red;
                font-size: 0.9rem;
                margin-top: 3px;

                & i {
                    color: red;
                    font-size: 0.9rem;
                }
            }
        }

        &:nth-of-type(1) {
            margin-top: 0;
        }

        &.doc-name {
            & .setting-up-container {
                & input {
                    @include input-styling;
                }
            }
        }

        &.doc-category {
            & .form-select-container {
                @include form-select-container-styling;

                &:not(:nth-of-type(1)) {
                    margin-top: 5px;
                }
            }
        }

        &.doc-description {
            & .setting-up-container {
                & textarea {
                    @include textarea-styling;
                }

                & .message {
                    margin-top: 0;
                }
            }
        }

        &.doc-keyword {
            & .setting-up-container {
                & input {
                    @include input-styling;
                }
            }
        }

        &.doc-price-and-preview {
            margin-top: 15px;

            & .setting-up-container {
                display: flex;
                justify-content: space-between;
                column-gap: 20px;

                & .form-select-container {
                    @include form-select-container-styling;
                    max-width: $doc-price-container-max-width;
                }

                & h6 {
                    margin: 0;
                    margin-left: 5px;
                    margin-bottom: 5px;
                }

                & .setting-up-value {
                    display: flex;
                    align-items: center;
                    column-gap: 5px;
                    margin-top: 5px;

                    &.inactive {
                        display: none;
                    }

                    & input {
                        border: 1px lightgray solid;
                        width: 100%;
                        padding: 5px 10px;
                        min-width: 150px;
                        font-size: 0.9rem;

                        &:hover,
                        &:focus {
                            outline: 1.5px colors.$doc123-primary-cl solid;
                        }
                    }

                    & strong {
                        display: inline-block;
                        font-weight: normal;
                        font-size: 0.9rem;
                        min-width: max-content;
                    }
                }
            }
        }

        &.doc-attaching {
            padding-top: 5px;

            & .setting-up-container {
                & .attaching-doc-btn-container {
                    display: flex;
                    align-items: center;
                    column-gap: 10px;
                    row-gap: 5px;

                    & .attaching-doc-btn {
                        padding: 5px 10px;
                        border: 1px colors.$doc123-secondary-cl solid;
                        color: colors.$doc123-secondary-cl;
                        border-radius: 5px;
                        cursor: pointer;
                        font-size: 0.9rem;
                        min-width: max-content;
                        background-color: white;
                        font-weight: 500;

                        &:hover {
                            color: white;
                            background-color: colors.$doc123-secondary-cl;
                        }
                    }

                    & .attaching-doc-helper-text {
                        color: gray;
                        font-size: 0.8rem;
                        text-align: center;
                    }
                }

                & .uploaded-doc-attaching-file-name {
                    @include input-styling;
                    font-size: 0.9rem;
                    margin-top: 7px;
                }

                & .attach-doc-upload-status {
                    & .warning {
                        @include attach-doc-upload-status-styling;
                        color: red;

                        & i {
                            color: red;
                            font-size: 0.9rem;
                        }
                    }

                    & .on-progress {
                        @include attach-doc-upload-status-styling;

                        & i {
                            color: colors.$doc123-primary-cl;
                        }

                        & .on-progress-circle {
                            border-radius: 50%;
                            height: 20px;
                            min-width: 20px;
                            border: 3px colors.$doc123-primary-cl solid;
                            overflow: hidden;

                            & .on-progress-solid {
                                background-color: colors.$doc123-primary-cl;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    & .submit-form-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        border-radius: 5px;
        padding: 5px 30px;
        width: 100%;
        background-color: colors.$doc123-primary-cl;
        border: 2px colors.$doc123-primary-cl solid;
        font-size: 1.2rem;
        color: white;
        font-weight: bold;

        &:hover {
            color: colors.$doc123-primary-cl;
            background-color: white;
        }

        &.inactive {
            pointer-events: none;
            opacity: 0.5;
        }

        & .spinner-border {
            height: 28.8px;
            width: 28.8px;
        }
    }

    @media screen and (max-width: breakpoints.$doc123-big-breakpoint-upload-page) {
        padding: 10px;
        flex-direction: column;
        column-gap: 50px;
        row-gap: 20px;

        & .doc-info-box {
            & .doc-info-form-group {
                column-gap: 10px;
            }
        }
    }

    @media screen and (max-width: breakpoints.$doc123-medium-breakpoint-upload-page) {
        flex-direction: column;
        margin-top: 10px;

        & .doc-avatar-btn-wrapper {
            height: 130px;

            & label {
                width: 100%;
                height: 100%;
                font-size: 0.9rem;
            }
        }

        & .doc-info-form-group {
            flex-direction: column;

            & .form-group-title {
                margin-bottom: 5px;
                margin-left: 5px;
            }

            &.doc-price-and-preview {
                & .setting-up-container {
                    flex-direction: column;
                    row-gap: 10px;
                }
            }
        }
    }

    @media screen and (max-width: breakpoints.$doc123-small-breakpoint-upload-page) {
        & .doc-info-form-group {
            &.doc-attaching {
                & .setting-up-container {
                    & .attaching-doc-btn-container {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

#main-section {
    background-color: colors.$doc123-regular-bg-cl;
    padding-top: 70px;

    & .main-section-title {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0 30px;
    }

    & .main-section-subtitle {
        font-size: 1.3rem;
        font-weight: normal;
        text-align: center;
        width: 100%;
        margin: 0;
        margin-top: 10px;
        padding: 0 30px;
    }

    & .upload-doc-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 50px;
        background-color: white;
        margin-top: 30px;

        & .upload-doc-title {
            font-size: 1.7rem;
            font-weight: 500;
            width: fit-content;
            margin: 0;
        }

        & .upload-doc-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 5px 80px;
            background-color: white;
            border-radius: 10px;
            color: colors.$doc123-primary-cl;
            font-weight: 500;
            cursor: pointer;
            border: 3px colors.$doc123-primary-cl dashed;
            margin-top: 20px;
            font-size: 1.5rem;
            padding: 30px 100px;

            & i {
                display: flex;
                font-size: 3rem;
                color: colors.$doc123-primary-cl;
            }

            &:hover {
                background-color: colors.$doc123-primary-cl;
                color: white;

                & i {
                    color: white;
                }
            }
        }

        & .helper-text-box {
            margin-top: 20px;

            &.inactive {
                display: none;
            }

            & p {
                text-align: center;
            }

            & .helper-text {
                font-size: 0.9rem;
            }

            & .helper-subtext {
                font-size: 0.8rem;
                margin-top: 3px;
            }
        }
    }

    & .uploaded-docs-section {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 70px;
        padding-right: 70px;

        & .uploaded-docs-title {
            font-size: 1.1rem;
            margin-left: 10px;
            margin-bottom: 15px;
            margin-top: 20px;

            &.inactive {
                display: none;
            }

            & .title {
                font-size: 1.5rem;
                font-weight: bold;
                text-align: start;
            }

            & .note {
                display: flex;
                align-items: center;
                column-gap: 5px;
                font-size: 0.9rem;
                margin-top: 5px;
                font-style: italic;
                font-weight: 500;

                & strong {
                    color: red;
                }

                & i {
                    font-size: 0.9rem;
                }
            }
        }

        & .add-info-for-all-docs-section {
            &.inactive {
                display: none;
            }

            & .switch-btn-container {
                display: flex;
                align-items: center;
                column-gap: 10px;
                padding: 10px 20px;
                background-color: $form-bg-cl;
                border-radius: 5px;
                border: 1px lightgray solid;

                & .form-check-input {
                    cursor: pointer;
                    font-size: 1.5rem;
                    margin: 0;
                    border: 1px gray solid;

                    &:checked {
                        background-color: colors.$doc123-primary-cl;
                        border-color: colors.$doc123-primary-cl;
                    }

                    &:focus {
                        box-shadow: 0 0 0 0.25rem rgba(13, 253, 161, 0.25);
                        border-color: colors.$doc123-primary-cl;
                    }

                    &:hover {
                        outline: 1.5px colors.$doc123-primary-cl solid;
                        border-color: colors.$doc123-primary-cl;
                    }
                }

                & label {
                    cursor: pointer;
                    font-size: 1.1rem;
                    font-weight: 500;
                }
            }

            & .add-info-for-all-docs-form.doc-avatar-and-doc-info {
                @include doc-avatar-and-doc-info-styling;
                background-color: $form-bg-cl;
                padding: 20px;
                margin-top: 5px;
                margin-bottom: 40px;
                border: 1px lightgray solid;
                border-radius: 5px;

                &.inactive {
                    display: none;
                }
            }
        }

        & .uploaded-docs {
            & .uploaded-doc-section {
                & .uploaded-info-success {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    column-gap: 10px;
                    color: colors.$doc123-primary-cl;
                    font-size: 1.5rem;
                    font-weight: 500;
                    margin-top: 5px;
                    margin-bottom: 50px;
                    padding: 10px;
                    background-color: #f0f0f0;

                    & i {
                        font-size: inherit;
                        color: colors.$doc123-primary-cl;
                    }
                }

                & .upload-progress {
                    width: 100%;
                    background-color: $form-bg-cl;
                    padding: 15px 20px;
                    margin-top: 10px;

                    &:nth-of-type(1) {
                        margin-top: 30px;
                    }

                    & .upload-progress-details {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 7px;
                        column-gap: 10px;

                        &.progress-fail {
                            color: red;
                            margin-bottom: 0;
                            justify-content: initial;

                            & i {
                                color: red;
                            }
                        }

                        & i {
                            display: flex;
                            color: colors.$doc123-primary-cl;
                            font-size: 1.1rem;
                        }
                    }

                    & .upload-progress-bar {
                        height: 10px;
                        width: 100%;
                        margin-bottom: 4px;
                        background-color: white;
                        border-radius: 30px;
                        background-image: url('../img/bg-process-bar.png');
                        background-repeat: repeat-x;
                        background-size: contain;

                        & .upload-progress-animate {
                            height: 100%;
                            width: 0%;
                            background-color: colors.$doc123-primary-cl;
                            border-radius: inherit;
                        }
                    }
                }

                & .uploaded-doc-form {
                    border-top: 3px colors.$doc123-primary-cl solid;
                    background-color: $form-bg-cl;
                    margin-bottom: 50px;
                    margin-top: 10px;
                    padding: 20px;
                    padding-top: 10px;

                    & .uploaded-doc-form-title {
                        word-wrap: break-word;
                        padding: 5px;
                        border-bottom: 1.5px lightgray solid;
                        font-size: 1rem;
                        font-weight: 500;
                    }

                    & .doc-avatar-and-doc-info {
                        @include doc-avatar-and-doc-info-styling;
                    }
                }
            }
        }
    }

    @media screen and (max-width: breakpoints.$doc123-small-breakpoint-upload-page) {
        padding-top: 50px;

        & .main-section-title {
            font-size: 1.5rem;
        }

        & .main-section-subtitle {
            font-size: 1rem;
        }

        & .upload-doc-section {
            margin-top: 15px;
            padding: 15px 50px;

            & .upload-doc-title {
                font-size: 1.3rem;
            }

            & .helper-text-box {
                margin-top: 15px;
            }
        }

        & .upload-doc-section {
            padding: 15px 20px;

            & .upload-doc-btn {
                padding: 20px 70px;
                font-size: 1.3rem;
            }
        }

        & .uploaded-docs-section {
            padding-left: 10px;
            padding-right: 10px;

            & .uploaded-docs {
                & .uploaded-doc-section {
                    & .uploaded-info-success {
                        font-size: 1.1rem;
                    }

                    & .upload-progress {
                        & .upload-progress-details {
                            font-size: 0.9rem;

                            & .details {
                                font-size: 0.9rem;
                            }
                        }
                    }

                    & .uploaded-docs-title {
                        & .title {
                            padding: 0px;
                        }
                    }

                    & .add-info-for-all-docs-section {
                        & .switch-btn-container {
                            padding: 10px;

                            & .form-check-input {
                                font-size: 1.3rem;
                            }

                            & label {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: breakpoints.$doc123-big-breakpoint-upload-page) {
        & .uploaded-docs-section {
            & .add-info-for-all-docs-section {
                column-gap: 50px;
            }
        }
    }

    @media screen and (max-width: breakpoints.$doc123-medium-breakpoint-upload-page) {
        & .uploaded-docs-section {
            & .uploaded-docs {
                & .uploaded-doc-form {
                    padding: 0 !important;

                    & .uploaded-doc-form-title {
                        margin: 0 10px;
                    }
                }
            }
        }
    }
}
