<!DOCTYPE html>
<html lang="vi">
    <head>
        <%- include('partials/head'); %>
        <link rel="stylesheet" href="css/upload-page.css" />
    </head>
    <body>
        <%- include('partials/header', { user: user , danhmuc: danhmuc }); %>
        <main id="main-section">
            <h2 class="main-section-title">
                Đăng bán và chia sẻ tài liệu lên thư viện điện tử lớn nhất Việt Nam
            </h2>
            <h3 class="main-section-subtitle">
                123Doc sẽ mang đến cho bạn hơn 10 triệu độc giả , thu nhập, danh tiếng và hơn thế
                nữa
            </h3>
            <section class="upload-doc-section">
                <h2 class="upload-doc-title">Tải tài liệu lên 123doc</h2>
                <label class="upload-doc-btn" for="upload-docs-input">
                    <i class="bi bi-cloud-arrow-up-fill"></i>
                    <span>Tải lên</span>
                </label>
                <input
                    type="file"
                    multiple
                    id="upload-docs-input"
                    hidden
                    onchange="uploadFilesOnProgressHandler()"
                    accept=".pdf,.ppt,.pptx,.doc,.docx,.xlsx"
                />
                <div class="helper-text-box">
                    <p class="helper-text">
                        Chọn nút tải lên để chọn nhiều file từ máy tính của bạn hoặc kéo file thả
                        vào đây
                    </p>
                    <p class="helper-subtext">Ấn nút Shift hoặc Ctrl để chọn nhiều file</p>
                </div>
            </section>
            <section class="uploaded-docs-section">
                <div class="uploaded-docs-title inactive">
                    <h3 class="title">Chỉnh sửa thông tin cho tài liệu bạn đã tải lên</h3>
                    <p class="note">
                        <i class="bi bi-exclamation-circle-fill"></i>
                        <span>
                            Chú ý: Các trường với <strong>(*)</strong> là các trường bắt buộc.
                        </span>
                    </p>
                </div>
                <section class="add-info-for-all-docs-section inactive">
                    <div class="switch-btn-container form-check form-switch">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            id="add-info-for-all-docs-input"
                            onchange="openAddInfoForAllDocs()"
                        />
                        <label for="add-info-for-all-docs-input">
                            Thêm thông tin cho toàn bộ tài liệu vừa tải lên
                        </label>
                    </div>
                    <form
                        class="doc-avatar-and-doc-info add-info-for-all-docs-form inactive"
                        action="#"
                        onsubmit="addInfoForAllDocsHandler(event)"
                        method="post"
                    >
                        <div class="doc-info-box">
                            <div class="doc-info-form-group doc-category">
                                <label class="form-group-title">
                                    Danh mục
                                    <span class="required-dot">(*)</span>
                                </label>
                                <div style="width: 100%" class="setting-up-container">
                                    <div class="form-select-container">
                                        <select class="form-select" name="uploaded-doc-category">
                                            <option value="none" selected="">- Danh mục -</option>
                                            <option value="2000">Kỹ năng mềm</option>
                                            <option value="3000">Mẫu slide</option>
                                            <option value="50000">Kinh doanh - tiếp thị</option>
                                            <option value="550000">Kinh tế - quản lí</option>
                                        </select>
                                    </div>
                                    <div class="form-select-container">
                                        <select class="form-select" name="uploaded-doc-subcategory">
                                            <option value="none" selected="">
                                                - Danh mục con -
                                            </option>
                                            <option value="2000">Kỹ năng mềm</option>
                                            <option value="3000">Mẫu slide</option>
                                            <option value="50000">Kinh doanh - tiếp thị</option>
                                            <option value="550000">Kinh tế - quản lí</option>
                                        </select>
                                    </div>
                                    <div class="message"></div>
                                </div>
                            </div>
                            <div class="doc-info-form-group doc-price-and-preview">
                                <label class="form-group-title">
                                    Giá bán
                                    <span class="required-dot">(*)</span>
                                </label>
                                <div class="setting-up-container">
                                    <div class="form-select-container price">
                                        <h6>Giá bán</h6>
                                        <select
                                            class="form-select"
                                            onchange="selectDocPrice(this)"
                                            name="uploaded-doc-price"
                                        >
                                            <option value="none" selected="">Chọn giá bán</option>
                                            <option value="2000">2.000đ</option>
                                            <option value="3000">3.000đ</option>
                                            <option value="50000">50.000đ</option>
                                            <option value="550000">550.000đ</option>
                                            <option value="self-type">Tự đặt giá</option>
                                        </select>
                                        <div class="setting-up-value set-price inactive">
                                            <input
                                                type="text"
                                                name="uploaded-doc-price-self-type"
                                                placeholder="Nhập giá..."
                                                oninput="selfTypeDocPrice(this)"
                                            />
                                            <strong>0đ</strong>
                                        </div>
                                        <div class="message"></div>
                                    </div>
                                    <div class="form-select-container preview">
                                        <h6>Xem trước</h6>
                                        <select
                                            class="form-select"
                                            onchange="selectDocPreview(this)"
                                            name="uploaded-doc-preview"
                                        >
                                            <option value="none" selected="">
                                                Số trang xem trước
                                            </option>
                                            <option value="20%">20%</option>
                                            <option value="50%">50%</option>
                                            <option value="self-type">Tự chọn</option>
                                        </select>
                                        <div class="setting-up-value set-preview inactive">
                                            <input
                                                type="text"
                                                name="uploaded-doc-preview-self-type"
                                                placeholder="Nhập số trang xem trước..."
                                                oninput="selfTypeDocPreview(this)"
                                            />
                                            <strong>0 trang</strong>
                                        </div>
                                        <div class="message"></div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="submit-form-btn">Lưu thông tin</button>
                        </div>
                    </form>
                </section>
                <div class="uploaded-docs"></div>
            </section>
        </main>
        <%- include('partials/footer'); %> <%- include('partials/sharing-libs'); %>
        <script src="js/upload-page.js"></script>
    </body>
</html>
