<!DOCTYPE html>
<html lang="vi">
    <head>
        <%- include('partials/head'); %>
        <link rel="stylesheet" href="css/upload-page.css" />
    </head>
    <body>
        <%- include('partials/header', { user: user , danhmuc: danhmuc }); %>
        <main id="main-section">
            <h2 class="title">
                Đăng bán và chia sẻ tài liệu lên thư viện điện tử lớn nhất Việt Nam
            </h2>
            <h3 class="subtitle">
                123Doc sẽ mang đến cho bạn hơn 10 triệu độc giả , thu nhập, danh tiếng và hơn thế
                nữa
            </h3>
            <section class="upload-doc-section">
                <h2 class="upload-doc-title">Tải tài liệu lên 123doc</h2>
                <label class="upload-doc-btn" for="uploaded-doc-input">
                    <i class="bi bi-cloud-arrow-up-fill"></i>
                    <span>Tải lên</span>
                </label>
                <div class="helper-text-box">
                    <p class="helper-text">
                        Chọn nút tải lên để chọn nhiều file từ máy tính của bạn hoặc kéo file thả
                        vào đây
                    </p>
                    <p class="helper-subtext">Ấn nút Shift hoặc Ctrl để chọn nhiều file</p>
                </div>
            </section>
            <section class="uploaded-docs-section">
                <div class="upload-progress inactive"></div>
                <div class="uploaded-docs"></div>
            </section>
        </main>
        <%- include('partials/footer'); %> <%- include('partials/sharing-libs'); %>
        <script src="js/upload-page.js"></script>
        <script>
            uploadFileOnDone(false, { fileName: '' })
        </script>
    </body>
</html>
