// util
$doc123-primary-breakpoint: 600px;

// home page
$doc123-large-breakpoint-homepage: 1230px;
$doc123-big-breakpoint-homepage: 990px;
$doc123-medium-breakpoint-homepage: 780px;
$doc123-small-breakpoint-homepage: 580px;

// search page
$doc123-medium-breakpoint-searchpage: 710px;
$doc123-small-breakpoint-searchpage: 600px;

// view post page
$doc123-bigger-breakpoint-viewPostPage: 935px;
$doc123-big-breakpoint-viewPostPage: 720px;
$doc123-medium-breakpoint-viewPostPage: 680px;
$doc123-small-breakpoint-viewPostPage: 459px;

// account page
$doc123-big-breakpoint-account-page: 850px;
